name: Create and publish a Docker image

on:
  release:
    types:
      - published
  push:
    tags:
      - v*

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push
        run: |
          # 1. 先把 metadata-action 的输出读到 Bash 变量
          DOCKER_IMAGE_TAGS="${{ steps.meta.outputs.tags }}"

          # 2. 用 Bash 参数替换把所有换行符（LF）替成逗号
          DOCKER_IMAGE_TAGS="${DOCKER_IMAGE_TAGS//$'\n'/,}"

          # 3. 去掉末尾多余的逗号（如果有的话）
          DOCKER_IMAGE_TAGS="${DOCKER_IMAGE_TAGS%,}"

          echo "Using tags: $DOCKER_IMAGE_TAGS"

          ./gradlew bootBuildImage \
            --imageName="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}" \
            -PdockerImageTags="$DOCKER_IMAGE_TAGS" \
            --no-daemon

          docker images --format "{{ .Repository }}:{{ .Tag }}" \
            | grep ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
            | xargs -L1 docker push
